pkgbase = kubeshark
	pkgdesc = Kubeshark is an API Traffic Analyzer for Kubernetes.
	pkgver = 41.6
	pkgrel = 1
	url = https://github.com/kubeshark/kubeshark
	arch = x86_64
	arch = aarch64
	license = apache
	makedepends = go
	source = kubeshark-41.6.tar.gz::https://github.com/kubeshark/kubeshark/archive/41.6.tar.gz
	sha256sums = 73319e46c004ff0d305ea426c642cfdf7030ac4bc88ad7f6bb009e3ab24db7f2

pkgname = kubeshark
