pkgbase = kubernetes-bin
	pkgdesc = Kubernetes.io server binary
	pkgver = 1.29.4
	pkgrel = 1
	url = https://kubernetes.io
	arch = x86_64
	arch = aarch64
	license = apache
	conflicts = kubernetes
	source_x86_64 = kubernetes-1.29.4.tgz::https://dl.k8s.io/v1.29.4/kubernetes-node-linux-amd64.tar.gz
	sha512sums_x86_64 = bf5eb2f4ef8e215941d98ca62bc4901fcad7f68dda153e1f077f9688b1e3f273d3b25bc48167cefd0a1f1ce1e0a3525d71bf7aa37b7fa8b8f639af35df0233bd
	source_aarch64 = kubernetes-1.29.4.tgz::https://dl.k8s.io/v1.29.4/kubernetes-node-linux-arm64.tar.gz
	sha512sums_aarch64 = d983706b1975d3b8c3cb1dae833efc178337df2c2abdd835588a0be6dbaef55c27e1df993e8623b87f56f7f7a8f6de34390e8a085911644fa8af2d49f47512e0

pkgname = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	depends = kubelet
	provides = kubeadm
	conflicts = kubernetes
	conflicts = kubeadm

pkgname = kubelet-bin
	pkgdesc = Kubernetes.io kubelet binary
	depends = crictl
	provides = kubelet
	conflicts = kubernetes
	conflicts = kubelet
