pkgbase = kubernetes-bin
	pkgdesc = Kubernetes.io server binary
	pkgver = 1.32.3
	pkgrel = 1
	url = https://kubernetes.io
	arch = x86_64
	arch = aarch64
	license = apache
	conflicts = kubernetes
	source_x86_64 = kubernetes-1.32.3.tgz::https://dl.k8s.io/v1.32.3/kubernetes-node-linux-amd64.tar.gz
	sha512sums_x86_64 = d55e611f26b2146c05f9cb5f3e5dad2af5cf509aa16fbdc23612247bd3701c4de9dc0a3ce70a6f050f0ea7eef8ecd0f7b479f45489281abb8f11c8e8e69910b1
	source_aarch64 = kubernetes-1.32.3.tgz::https://dl.k8s.io/v1.32.3/kubernetes-node-linux-arm64.tar.gz
	sha512sums_aarch64 = d1299f54a2ec4343eb23be36071e3560f339d535b4c2eeb60c09cf40b3357f4371ca198aa4af0c41bde73bef1221a839c846a9f9b497f47f2fdf553238a7dab9

pkgname = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	depends = kubelet
	provides = kubeadm
	conflicts = kubernetes
	conflicts = kubeadm

pkgname = kubelet-bin
	pkgdesc = Kubernetes.io kubelet binary
	depends = crictl
	provides = kubelet
	conflicts = kubernetes
	conflicts = kubelet
