pkgbase = plakar
	pkgdesc = plakar is a backup solution
	pkgver = 1.0.6
	pkgrel = 1
	url = https://plakar.io/
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = ISC
	makedepends = go
	makedepends = fuse2
	source = plakar-1.0.6.tar.gz::https://github.com/PlakarKorp/plakar/archive/v1.0.6.tar.gz
	sha256sums = 5f9af49e9957b2fc659f0c9192db748785c95a1319290e69469df971fe3eeb9e

pkgname = plakar
