pkgbase = plakar
	pkgdesc = plakar is a backup solution
	pkgver = 1.0.4
	pkgrel = 2
	url = https://plakar.io/
	arch = i686
	arch = pentium4
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = ISC
	makedepends = go
	source = plakar-1.0.4.tar.gz::https://github.com/PlakarKorp/plakar/archive/v1.0.4.tar.gz
	sha256sums = f8a2e04366e383a69f1077fb0a3607a44418ab98da13fa4718a79ec633dd975c

pkgname = plakar
