pkgbase = cri-tools-bin
	pkgdesc = Container Runtime Interface Tools Binaries that interact with the container runtime through the container runtime interface
	pkgver = 1.16.1
	pkgrel = 1
	url = http://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	provides = cri-tools
	conflicts = cri-tools
	conflicts = crictl
	conflicts = crictl-bin
	source_x86_64 = https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.16.1/crictl-v1.16.1-linux-amd64.tar.gz
	sha256sums_x86_64 = 19fed421710fccfe58f5573383bb137c19438a9056355556f1a15da8d23b3ad1
	source_armv7l = https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.16.1/crictl-v1.16.1-linux-arm.tar.gz
	sha256sums_armv7l = 367826f3eb06c4d923f3174d23141ddacef9ffcb0c902502bd922dbad86d08dd
	source_armv7h = https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.16.1/crictl-v1.16.1-linux-arm.tar.gz
	sha256sums_armv7h = 367826f3eb06c4d923f3174d23141ddacef9ffcb0c902502bd922dbad86d08dd
	source_aarch64 = https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.16.1/crictl-v1.16.1-linux-arm64.tar.gz
	sha256sums_aarch64 = 62b60ab7046b788df892a1b746bd602c520a59c38232febc0580692c9805f641

pkgname = cri-tools-bin

