pkgbase = gore
	pkgdesc = Yet another Go REPL that works nicely
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/x-motemen/gore
	arch = x86_64
	license = MIT
	depends = go
	source = gore-0.7.0.tar.gz::https://github.com/x-motemen/gore/archive/v0.7.0.tar.gz
	sha256sums = 88e2f6f52eb5fd4b5359d822f9f3fcb99a0f868eff1e4da19880bebba3143718

pkgname = gore
