pkgbase = gore
	pkgdesc = Yet another Go REPL that works nicely
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/x-motemen/gore
	arch = x86_64
	license = MIT
	depends = go
	source = gore-0.6.1.tar.gz::https://github.com/x-motemen/gore/archive/v0.6.1.tar.gz
	sha256sums = 11acd9f34ea74c2e2033fa3ec2a83b3d9242c338093d0a2d8d5346ca451a4ac4

pkgname = gore
