pkgbase = cni-plugins-bin
	pkgdesc = Container Network Interface - networking for Linux containers
	pkgver = 0.8.7
	pkgrel = 1
	url = https://github.com/containernetworking/plugins
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	provides = cni-plugins
	conflicts = cni-plugins
	source_x86_64 = https://github.com/containernetworking/plugins/releases/download/v0.8.7/cni-plugins-linux-amd64-v0.8.7.tgz
	sha256sums_x86_64 = 977824932d5667c7a37aa6a3cbba40100a6873e7bd97e83e8be837e3e7afd0a8
	source_armv7l = https://github.com/containernetworking/plugins/releases/download/v0.8.7/cni-plugins-linux-arm-v0.8.7.tgz
	sha256sums_armv7l = 5757778f4c322ffd93d7586c60037b81a2eb79271af6f4edf9ff62b4f7868ed9
	source_armv7h = https://github.com/containernetworking/plugins/releases/download/v0.8.7/cni-plugins-linux-arm-v0.8.7.tgz
	sha256sums_armv7h = 5757778f4c322ffd93d7586c60037b81a2eb79271af6f4edf9ff62b4f7868ed9
	source_aarch64 = https://github.com/containernetworking/plugins/releases/download/v0.8.7/cni-plugins-linux-arm64-v0.8.7.tgz
	sha256sums_aarch64 = ae13d7b5c05bd180ea9b5b68f44bdaa7bfb41034a2ef1d68fd8e1259797d642f

pkgname = cni-plugins-bin
