pkgbase = vcluster
	pkgdesc = Create fully functional virtual Kubernetes clusters
	pkgver = 0.21.1
	pkgrel = 1
	url = https://vcluster.com
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	makedepends = go
	depends = glibc
	source = vcluster-0.21.1.tar.gz::https://github.com/loft-sh/vcluster/archive/refs/tags/v0.21.1.tar.gz
	sha256sums = fd7d955a8a77de17a64c20bce91f24bbbd8626d5d3e7b51daba60e5afa6f4612

pkgname = vcluster
