pkgbase = kubeshark-bin
	pkgdesc = Kubeshark is an API Traffic Analyzer for Kubernetes.
	pkgver = 41.1
	pkgrel = 2
	url = https://github.com/kubeshark/kubeshark
	arch = x86_64
	arch = aarch64
	license = apache
	provides = kubeshark
	conflicts = kubeshark
	source_x86_64 = kubeshark::https://github.com/kubeshark/kubeshark/releases/download/41.1/kubeshark_linux_amd64
	sha256sums_x86_64 = 648f883d9e0a576a8303ff42b2a7c048de2ad2984226d1eb587ba63125b7b3e3
	source_aarch64 = kubeshark::https://github.com/kubeshark/kubeshark/releases/download/41.1/kubeshark_linux_arm64
	sha256sums_aarch64 = b8ff29b51e673f0df696579465c394f1bc5512c18a977777df334fa0076a28b1

pkgname = kubeshark-bin
