pkgbase = bruno
	pkgdesc = Opensource API Client for Exploring and Testing APIs
	pkgver = 3.0.2
	pkgrel = 1
	url = https://www.usebruno.com/
	arch = x86_64
	license = MIT
	makedepends = nvm
	makedepends = python-setuptools
	makedepends = python
	depends = electron37
	depends = alsa-lib
	source = bruno-3.0.2.tar.gz::https://github.com/usebruno/bruno/archive/v3.0.2.tar.gz
	source = com.usebruno.app.Bruno.desktop
	sha256sums = 0f926491e1c2ce52a63b62a81d0dd204f5becd0e19732e76b9c5673a68e138af
	sha256sums = 7bad0d66e67fdaaf99d1b7b32ba2f119b7d6dba12ecfdb398c39ee3c81bbe051

pkgname = bruno
