pkgbase = bruno
	pkgdesc = Opensource API Client for Exploring and Testing APIs
	pkgver = 1.24.0
	pkgrel = 1
	url = https://www.usebruno.com/
	arch = x86_64
	license = MIT
	makedepends = nvm
	makedepends = asar
	depends = electron31
	depends = alsa-lib
	source = bruno-1.24.0.tar.gz::https://github.com/usebruno/bruno/archive/v1.24.0.tar.gz
	source = com.usebruno.app.Bruno.desktop
	sha256sums = 07bac4451157cd299ad4ea52de94ad120b427d30672d4ddf8f45ea70ed802fe3
	sha256sums = 7bad0d66e67fdaaf99d1b7b32ba2f119b7d6dba12ecfdb398c39ee3c81bbe051

pkgname = bruno
