pkgbase = swayed
	pkgdesc = Dependency management for my own sway configuration.
	pkgver = 1
	pkgrel = 8
	url = https://github.com/vbouchaud/dotfiles/tree/main/sway
	arch = any
	license = GPL
	depends = sway
	depends = swaylock
	depends = swayidle
	depends = swaybg
	depends = python-i3ipc
	depends = swaysome
	depends = grim
	depends = slurp
	depends = mako
	depends = foot
	depends = firefox
	depends = thunderbird
	depends = dmenu
	depends = doomed
	depends = xdg-desktop-portal-wlr
	depends = brightnessctl
	depends = playerctl
	depends = xorg-xwayland
	depends = gammastep

pkgname = swayed
