pkgbase = swayed
	pkgdesc = Dependency management for my own sway configuration.
	pkgver = 1
	pkgrel = 12
	url = https://github.com/vbouchaud/dotfiles/tree/main/sway
	arch = any
	license = GPL
	depends = sway
	depends = swaylock
	depends = swayidle
	depends = swaybg
	depends = sway-contrib
	depends = swaysome
	depends = grim
	depends = slurp
	depends = mako
	depends = foot
	depends = firefox
	depends = thunderbird
	depends = wofi
	depends = doomed
	depends = xdg-desktop-portal-wlr
	depends = brightnessctl
	depends = playerctl
	depends = xorg-xwayland
	depends = gammastep
	depends = wl-clipboard
	source = file://sway-service
	source = file://sway-service.desktop
	source = file://sway.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = swayed
