pkgbase = gsm-alerts
	pkgdesc = Timer to alert on endpoints being unreachable.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/vbouchaud/aur/tree/main/gsm-alerts
	install = note.install
	arch = any
	license = MIT
	depends = bc
	source = gsm-alerts.service
	source = gsm-alerts.sh
	source = gsm-alerts.timer
	source = config
	sha256sums = a9fd02ee4f6f55dfb907c1e6e68089ca77f774f757ef0f932fdffb790fe9e872
	sha256sums = 558e09af42dfc1f8179afc9c9e693c56d7897a7d63eeaf5e725ba9a3c6d78a63
	sha256sums = 4fce24e3c53568caef921ea6dc49c51a82f7312fdfd337c2cb8390564949201c
	sha256sums = 5b9cd1c66f0db2c95de0241fef06ed523141dee6bd5e920d062fed6b550061f9

pkgname = gsm-alerts
