pkgbase = ttyed
	pkgdesc = Dependency management for my tty environment.
	pkgver = 1
	pkgrel = 7
	url = https://bouchaud.org
	arch = any
	license = GPL
	depends = zsh
	depends = git
	depends = man-db
	depends = man-pages
	depends = tmux
	depends = doomed
	depends = htop
	depends = iftop
	depends = longoverdue
	depends = jq
	depends = yq
	depends = bat
	depends = bind
	depends = pass
	depends = rsync
	depends = openssh
	depends = most
	depends = gnupg
	optdepends = oh-my-zsh-git: community-driven framework for managing your zsh configuration
	optdepends = aurpublish: help with aur publishing tasks
	optdepends = aurbuild: quasi automated package building
	optdepends = keyring-cli: query secret service from command line (consistent API accross oses)

pkgname = ttyed
