pkgbase = kubelet-bin
	pkgdesc = Kubernetes.io kubelet binary
	pkgver = 1.22.1
	pkgrel = 1
	url = http://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	depends = iptables
	depends = cni-plugins
	depends = iproute2
	depends = socat
	depends = libutil-linux
	depends = ethtool
	depends = ebtables
	depends = arptables
	depends = conntrack-tools
	depends = ipset
	depends = ipvsadm
	optdepends = docker: use docker as kubernetes runtime
	optdepends = containerd: industry-standard container runtime
	optdepends = cri-o: open container initiative-based implementation of kubernetes container runtime interface
	optdepends = frakti: hypervisor-based container runtime for kubernetes
	provides = kubelet
	conflicts = kubernetes
	conflicts = kubernetes-bin
	conflicts = kubelet
	source_x86_64 = https://packages.cloud.google.com/apt/pool/kubelet_1.22.1-00_amd64_240cc59b5f8e44719af21b90161d32297679376f5a4d45ffd4795685ef305538.deb
	sha256sums_x86_64 = 240cc59b5f8e44719af21b90161d32297679376f5a4d45ffd4795685ef305538
	source_armv7l = https://packages.cloud.google.com/apt/pool/kubelet_1.22.1-00_armhf_1fc87cfb3df71221098baa8590b49adb522d60e25cedb74254f16c0809041b4d.deb
	sha256sums_armv7l = 1fc87cfb3df71221098baa8590b49adb522d60e25cedb74254f16c0809041b4d
	source_armv7h = https://packages.cloud.google.com/apt/pool/kubelet_1.22.1-00_armhf_1fc87cfb3df71221098baa8590b49adb522d60e25cedb74254f16c0809041b4d.deb
	sha256sums_armv7h = 1fc87cfb3df71221098baa8590b49adb522d60e25cedb74254f16c0809041b4d
	source_aarch64 = https://packages.cloud.google.com/apt/pool/kubelet_1.22.1-00_arm64_e0314893123e6467c7d8b8e97928c817a2aec9382566e06659617ff279b6cbe9.deb
	sha256sums_aarch64 = e0314893123e6467c7d8b8e97928c817a2aec9382566e06659617ff279b6cbe9

pkgname = kubelet-bin
