pkgbase = kubelet-bin
	pkgdesc = Kubernetes.io kubelet binary
	pkgver = 1.27.0
	pkgrel = 1
	url = https://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	depends = iptables
	depends = cni-plugins
	depends = iproute2
	depends = socat
	depends = libutil-linux
	depends = ethtool
	depends = ebtables
	depends = arptables
	depends = conntrack-tools
	depends = ipset
	depends = ipvsadm
	optdepends = docker: use docker as kubernetes runtime
	optdepends = containerd: industry-standard container runtime
	optdepends = cri-o: open container initiative-based implementation of kubernetes container runtime interface
	optdepends = frakti: hypervisor-based container runtime for kubernetes
	provides = kubelet
	conflicts = kubernetes
	conflicts = kubernetes-bin
	conflicts = kubelet
	source_x86_64 = https://packages.cloud.google.com/apt/pool/kubelet_1.27.0-00_amd64_2fdbfe62c9c7fb8f69e55f56af71ac8dee54ed833598a5ff8b492c8ebc0c68c4.deb
	sha256sums_x86_64 = 2fdbfe62c9c7fb8f69e55f56af71ac8dee54ed833598a5ff8b492c8ebc0c68c4
	source_armv7l = https://packages.cloud.google.com/apt/pool/kubelet_1.27.0-00_armhf_.deb
	sha256sums_armv7l = 
	source_armv7h = https://packages.cloud.google.com/apt/pool/kubelet_1.27.0-00_armhf_.deb
	sha256sums_armv7h = 
	source_aarch64 = https://packages.cloud.google.com/apt/pool/kubelet_1.27.0-00_arm64_0701511af9e3450246edcd9605344b23be905499448636d05609837b5df7abe2.deb
	sha256sums_aarch64 = 0701511af9e3450246edcd9605344b23be905499448636d05609837b5df7abe2

pkgname = kubelet-bin
