pkgbase = kubelet-bin
	pkgdesc = Kubernetes.io kubelet binary
	pkgver = 1.20.0
	pkgrel = 1
	url = http://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	depends = iptables
	depends = cni-plugins
	depends = iproute2
	depends = socat
	depends = libutil-linux
	depends = ethtool
	depends = ebtables
	depends = arptables
	depends = conntrack-tools
	depends = ipset
	depends = ipvsadm
	optdepends = docker: use docker as kubernetes runtime
	optdepends = containerd: industry-standard container runtime
	optdepends = cri-o: open container initiative-based implementation of kubernetes container runtime interface
	optdepends = frakti: hypervisor-based container runtime for kubernetes
	provides = kubelet
	conflicts = kubernetes
	conflicts = kubernetes-bin
	conflicts = kubelet
	source_x86_64 = https://packages.cloud.google.com/apt/pool/kubelet_1.20.0-00_amd64_5083777e7ef63c6b6ad3b673790e55f3782ce36340a18e30761234c959b0f7e4.deb
	sha256sums_x86_64 = 5083777e7ef63c6b6ad3b673790e55f3782ce36340a18e30761234c959b0f7e4
	source_armv7l = https://packages.cloud.google.com/apt/pool/kubelet_1.20.0-00_armhf_98acb629e9f51d3ee3bbc08f31dafda80e50f80c7ec665ac858db45be6777007.deb
	sha256sums_armv7l = 98acb629e9f51d3ee3bbc08f31dafda80e50f80c7ec665ac858db45be6777007
	source_armv7h = https://packages.cloud.google.com/apt/pool/kubelet_1.20.0-00_armhf_98acb629e9f51d3ee3bbc08f31dafda80e50f80c7ec665ac858db45be6777007.deb
	sha256sums_armv7h = 98acb629e9f51d3ee3bbc08f31dafda80e50f80c7ec665ac858db45be6777007
	source_aarch64 = https://packages.cloud.google.com/apt/pool/kubelet_1.20.0-00_arm64_0704b27d27c397fdfdcfd62b596799dec9ca06dc4c101488dc39c0dc2ca06751.deb
	sha256sums_aarch64 = 0704b27d27c397fdfdcfd62b596799dec9ca06dc4c101488dc39c0dc2ca06751

pkgname = kubelet-bin
