pkgbase = glusterfs
	pkgdesc = a cluster file-system capable of scaling to several peta-bytes.
	pkgver = 10.0
	pkgrel = 3
	epoch = 1
	url = https://www.gluster.org/
	install = glusterfs.install
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = GPL2
	license = LGPL3
	makedepends = rpcsvc-proto
	depends = fuse
	depends = python
	depends = libxml2
	depends = libaio
	depends = liburcu
	depends = attr
	depends = rpcbind
	depends = liburing
	depends = gperftools
	optdepends = glib2: qemu-block
	optdepends = python-prettytable: gluster-georep-sshkey
	backup = etc/glusterfs/glusterd.vol
	backup = etc/glusterfs/eventsconfig.json
	backup = etc/glusterfs/gluster-rsyslog-5.8.conf
	backup = etc/glusterfs/gluster-rsyslog-7.2.conf
	backup = etc/glusterfs/glusterd.vol
	backup = etc/glusterfs/glusterfs-georep-logrotate
	backup = etc/glusterfs/glusterfs-logrotate
	source = https://download.gluster.org/pub/gluster/glusterfs/10/10.0/glusterfs-10.0.tar.gz
	source = glusterfs.sysusers
	sha256sums = 90bb4aa2a833a7597074405dd0197bed38b115502a09c192a115bc2383df0b8d
	sha256sums = a470d07aedb2674adfb295b4775e490b48816b87974946da4dcf62aa0d72108a

pkgname = glusterfs
