pkgbase = glusterfs
	pkgdesc = a cluster file-system capable of scaling to several peta-bytes.
	pkgver = 9.5
	pkgrel = 1
	url = https://www.gluster.org/
	install = glusterfs.install
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = GPL2
	license = LGPL3
	makedepends = rpcsvc-proto
	depends = fuse
	depends = python
	depends = libxml2
	depends = libaio
	depends = liburcu
	depends = attr
	depends = rpcbind
	depends = liburing
	depends = gperftools
	optdepends = glib2: qemu-block
	optdepends = python-prettytable: gluster-georep-sshkey
	backup = etc/glusterfs/glusterd.vol
	backup = etc/glusterfs/eventsconfig.json
	backup = etc/glusterfs/gluster-rsyslog-5.8.conf
	backup = etc/glusterfs/gluster-rsyslog-7.2.conf
	backup = etc/glusterfs/glusterd.vol
	backup = etc/glusterfs/glusterfs-georep-logrotate
	backup = etc/glusterfs/glusterfs-logrotate
	source = glusterfs-9.5.tar.gz::https://github.com/gluster/glusterfs/archive/refs/tags/v9.5.tar.gz
	source = glusterfs.sysusers
	sha256sums = 7d8a8abd621da47fd725f584d2b5b7733d0f5e3bc4488d5359e37705c0770050
	sha256sums = a470d07aedb2674adfb295b4775e490b48816b87974946da4dcf62aa0d72108a

pkgname = glusterfs
