pkgbase = doomed
	pkgdesc = Dependency management for my own doom-emacs configuration.
	pkgver = 1
	pkgrel = 4
	url = https://bouchaud.org
	arch = any
	license = GPL
	depends = emacs-nativecomp
	depends = ripgrep
	depends = gomodifytags
	depends = gore
	depends = gotests
	depends = gopls
	depends = python-isort
	depends = python-pipenv
	depends = python-nose
	depends = python-pytest
	depends = typescript-language-server
	depends = ccls
	depends = glslang
	depends = markdownlint
	depends = go-tools
	depends = marked
	depends = rust
	depends = rust-analyzer
	depends = jdk17-openjdk
	depends = shellcheck
	depends = fd
	depends = ttf-nerd-fonts-symbols-mono
	optdepends = gomodifytags: part of :lang (go +lsp)
	optdepends = gore: part of :lang (go +lsp)
	optdepends = gotests: part of :lang (go +lsp)

pkgname = doomed
