pkgbase = own
	pkgdesc = Dependency management for my own environment.
	pkgver = 1
	pkgrel = 10
	url = https://bouchaud.org
	install = note.install
	arch = any
	license = GPL
	depends = grub
	depends = lvm2
	depends = netctl
	depends = dhcpcd
	depends = wpa_supplicant
	depends = dialog
	depends = ly
	depends = swayed
	depends = ttyed
	depends = gnome-keyring
	depends = seahorse
	depends = keepassxc
	depends = pass
	depends = pipewire
	depends = pipewire-audio
	depends = pipewire-pulse
	depends = wireplumber
	depends = sof-firmware
	depends = pavucontrol
	depends = gnome-themes-extra
	depends = vlc
	depends = syncthing
	depends = cups
	depends = cups-pdf
	depends = tailscale
	optdepends = overworked: actual work applications I use daily
	optdepends = numix-icon-theme-git: icons corresponding to the gtk configuration in vbouchaud/dotfiles
	optdepends = yay: get packages from aur
	optdepends = element-desktop: matrix client
	optdepends = telegram-desktop: telegram client
	optdepends = subdl: download subs
	optdepends = transmission-remote-gtk: remote client for transmission

pkgname = own
