pkgbase = own
	pkgdesc = Dependency management for my own environment.
	pkgver = 1
	pkgrel = 6
	url = https://bouchaud.org
	install = note.install
	arch = any
	license = GPL
	depends = grub
	depends = netctl
	depends = dhcpcd
	depends = wpa_supplicant
	depends = dialog
	depends = ly
	depends = swayed
	depends = ttyed
	depends = gnome-keyring
	depends = seahorse
	depends = keepassxc
	depends = pass
	depends = pipewire
	depends = pipewire-audio
	depends = pipewire-pulse
	depends = wireplumber
	depends = sof-firmware
	depends = pavucontrol
	depends = gnome-themes-extra
	depends = element-desktop
	depends = telegram-desktop
	optdepends = numix-icon-theme-git: icons corresponding to the gtk configuration in vbouchaud/dotfiles
	optdepends = overworked: actual work applications I use daily
	optdepends = yay: get packages from aur

pkgname = own
